/*body sty */
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
html{
  scroll-behavior: smooth;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #111;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px font-family: 'Fira Sans', sans-serif;
  color: #111;
}
p
{
 font: 30px font-family: 'Fira Sans', sans-serif;
}
p{
   font-size: 20px; 
}
/*navbar sty */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  background-color: #111;
}
@media only screen and (max-device-width: 700px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
  }
}
@media only screen and (max-device-width: 700px) {
    li a {
    font-size: 10px;
    padding: 5px 5px;
  }
}
@media screen and (max-width: 700px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
