body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
html{
  scroll-behavior: smooth;
}
h1{
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px font-family: 'Fira Sans', sans-serif;
  color: #111;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px font-family: 'Fira Sans', sans-serif;
  color: #111;
}
p{
  font-size: 30px;
}
p
{
 font: 30px font-family: 'Fira Sans', sans-serif;
}
.bgimg{
width: 20%;
height:35%;
margin-right: 20px;
}
/*navbar sty */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 70px;
  background-color: #333;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  background-color: #111;
}
/*media sty*/
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
  .bgimg{
  width: 100%;
}
    }
@media only screen and (max-device-width: 700px) {
    li a {
    font-size: 10px;
    padding: 5px 5px;
  }
}
