/*body sty */
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
html{
  scroll-behavior: smooth;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px font-family: 'Fira Sans', sans-serif;
  color: #111;
}
p
{
 font: 30px font-family: 'Fira Sans', sans-serif;
}
p{
   font-size: 30px; 
}

/* Parallax sty */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4{
  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../img/tPJ1aMv.jpg");
  min-height: 68%;
  background-size: cover;
}
.bgimg-2{
  background-image: url(../img/bgimg-2);
  min-height: 750px;
  background-size: contain;

  
}
.bgimg-3{
  background-image: url(../img/);
  min-height: 550px;
  background-size: contain;

  
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 45px;
  letter-spacing: 10px;
}
/*bg img */


/*navbar sty */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  background-color: #111;
}
@media only screen and (max-device-width: 700px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
  }
}
.dropbtn {
  color: white;
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
  font-size: 25px;
  background-color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

}
@media only screen and (max-device-width: 700px) {
    li a {
    font-size: 10px;
    padding: 5px 5px;
  }
}
@media only screen and (max-device-width: 700px) {
    .dropdown {
    font-size: 10px;
    padding: 5px 5px;
  }
}
