/*body sty */
html{
  scroll-behavior: smooth;

}
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px font-family: 'Fira Sans', sans-serif;
  color: #111;
}
p
{
  font: 20px font-family: 'Fira Sans', sans-serif;
}

@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
  }
}
/* Parallax sty */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4{
  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../img/tPJ1aMv.jpg");
  min-height: 68%;
  background-size: cover;
}
.bgimg-2{
  background-image: url(../img/zika-virus-symptoms1-5af1c89cba6177003655c0a4.png);
  min-height: 750px;
  background-size: contain;

  
}
.bgimg-3{
  background-image: url(../img/MICROCEPHALY.png);
  min-height: 550px;
  background-size: contain;

  
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
/*bg img */


/*navbar sty */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
